<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Sobre Nosotros">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo-96x84.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Sobre Nosotros</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
</head>
<body>
<wc-menu></wc-menu>

  <section data-bs-version="5.1" class="content14 cid-tfJk9foiKh" id="content14-r">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                        <strong>Preguntas Frecuentes</strong>
                    </h3>
                <ul class="list mbr-fonts-style display-7">
                    <li><strong>¿Qué es la Iglesia?</strong><br>
                        La palabra "Iglesia" significa "convocación”. Es el término frecuentemente utilizado en el texto griego del Antiguo Testamento para designar la asamblea del pueblo elegido en la presencia de Dios, sobre todo cuando se trata de la asamblea del Sinaí, en donde Israel recibió la Ley y fue constituido por Dios como su pueblo santo (cf. Éxodo, 19). Dándose a sí misma el nombre de "Iglesia", la primera comunidad de los que creían en Cristo se reconoce heredera de aquella asamblea. En ella, Dios "convoca" a su Pueblo desde todos los confines de la tierra.
                    </li>
                    <li><strong>¿Por qué nació la Iglesia?</strong><br>
                        Dios Padre creó el mundo por una decisión totalmente libre y misteriosa de su sabiduría y bondad. Decidió elevar a los hombres a la participación de la vida divina a la cual llama a todos los hombres a través de su Hijo Jesucristo: "Dispuso convocar a los creyentes en Cristo en la santa Iglesia".
                    </li>
                    <li><strong>¿Pero quién fundó la Iglesia?</strong><br>
                        Corresponde al Hijo, Jesucristo, realizar el plan de Salvación de su Padre, en la plenitud de los tiempos; ese es el motivo de su "misión". "El Señor Jesús comenzó su Iglesia con el anuncio de la Buena Noticia, es decir, de la llegada del Reino de Dios prometido desde hacía siglos en las Escrituras". Para cumplir la voluntad del Padre, Cristo inauguró el Reino de los cielos en la tierra. La Iglesia es el Reino de Cristo "presente ya en misterio".
                    </li>
                    <li><strong>¿Cómo continúa la misión de Cristo a lo largo de la historia?</strong><br>
                        El Señor Jesús dotó a su comunidad de una estructura que permanecerá hasta la plena consumación del Reino. Ante todo está la elección de los Doce con Pedro como su Cabeza; puesto que representan a las doce tribus de Israel, ellos son los cimientos de la nueva Jerusalén. Los Doce y los otros discípulos participan en la misión de Cristo, en su poder, y también en su suerte. Con todos estos actos, Cristo prepara y edifica su Iglesia.
                    </li>
                    <li><strong>¿Quiénes forman parte de la Iglesia?</strong><br>
                        En las cartas de San Pablo se concibe a los miembros de la Iglesia como «conciudadanos de los santos y miembros de la familia de Dios, edificados sobre el cimiento de los apóstoles y los profetas, siendo piedra angular el mismo Cristo Jesús» (Efesios 2,19-20).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<wc-footer></wc-footer>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="./assets/js/components.js"></script>
</body>
</html>