<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Home">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo-96x84.png" type="image/x-icon">
  <meta name="description" content="">
  
  <title>Inicio</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>

<body>
  <wc-menu></wc-menu>
  
<section data-bs-version="5.1" class="header1 cid-tfJd2dwtQI mbr-fullscreen" id="header1-p">
    <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(250, 250, 250);"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Un Oasis de Dios</strong></h1>           
                <p class="mbr-text mbr-fonts-style display-7"><strong>Existimos para nuestra comunidad!
                    <br>Y creemos que con Dios podemos cambiar al mundo!&nbsp;</strong></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="sobre-nosotros">Conócenos</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-tfJbiOnwAo" id="features16-l">
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>Pastor Smith</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            En nuestra comunidad, usted sentirá el poder y el amor de Dios en Cristo Jesús. Su vida será diferente si permite que Jesús entre a su corazón.<br>El Pastor Smith es fundador de la congregación "Hijos de Dios". Graduado en el Instituto Bíblico de Londres, Universidad Spurgeon Theologic.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary display-4" href="sobre-nosotros">Conoce Más</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/pexels-pavel-danilyuk-7317715-1160x1738.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider6 mbr-embla cid-tfJhB2ttp3" id="slider6-q">
    <div class="position-relative">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Nuestros Ministerios</strong></h4>
        </div>
        <div class="embla mt-4" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="assets/images/pexels-lukas-296302-600x397.jpg" alt="Mobirise Website Builder" title="">
                                </div>
                            </div>
                            <div class="item-content">
                                
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ministerio de Niños</strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Instruye al niño en su camino y aún cuando fuere viejo no se apartará del Señor. Comprometidos con la enseñanza de la Biblia desde muy pequeños.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="assets/images/pexels-fauxels-3184437-600x400.jpg" alt="Mobirise Website Builder" title="">
                                </div>
                            </div>
                            <div class="item-content">
                                
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ministerio de Jóvenes</strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Nuestros jóvenes se educan en grupos sanos y bíblicos. Les cuidamos de todas las malas influencias de los tiempos actuales.<br>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="assets/images/pexels-wendy-wei-1190297-600x400.jpg" alt="Mobirise Website Builder" title="">
                                </div>
                            </div>
                            <div class="item-content">
                                
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ministerio de Alabanza</strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">Cultos inspiradores para adorar y alabar al Señor. Un ministerio comprometido con la Gloria de Dios. Ministramos la Presencia del Espíritu Santo</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="slide-content">
                            <div class="item-wrapper">
                                <div class="item-img">
                                    <img src="assets/images/pexels-rodnae-productions-6646933.jpg" alt="Mobirise Website Builder" title="">
                                </div>
                            </div>
                            <div class="item-content">
                                
                                <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Ministerio de Misericordia</strong></h6>
                                <p class="mbr-text mbr-fonts-style mt-3 display-7">La verdadera religión, pura y sin mancha es esta, ayudar a las viudas en sus tribulaciones y a todos los que el Señor ponga en nuestro caminno.</p>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts3 map1 cid-tfJbqmUWUT" id="contacts3-m">  
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Contactos</strong>
            </h3>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="card col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Phone</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="tel:+12345678910" class="text-primary">0 (800) 123 45 67</a>
                        </p>
                    </div>
                </div>
                <div class="card-wrapper">
                    <div class="image-wrapper">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-1 display-5">
                            <strong>Email</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="mailto:info@site.com" class="text-primary">info@site.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZI5F_k6S1k46ujh0SNrapM89f7mJxd30&amp;q=350 5th Ave, New York, NY 10118" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<wc-footer></wc-footer>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="assets/smoothscroll/smooth-scroll.js"></script>  
<script src="assets/ytplayer/index.js"></script>  
<script src="assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="assets/embla/embla.min.js"></script>  
<script src="assets/embla/script.js"></script>  
<script src="assets/js/components.js"></script>
</body>
</html>