<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Nuestras Creencias">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo-96x84.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Nuestras Creencias</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>
  
<wc-menu></wc-menu>

  <section data-bs-version="5.1" class="content16 cid-tfJkoOw8nU" id="content16-s">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="mbr-section-head align-center mb-4">
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                        <strong>Nuestras Creencias</strong></h3>
                </div>
                <div id="bootstrap-accordion_16" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_16" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre la Biblia</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">Creemos que la Biblia es la Palabra de Dios, inspirada, infalible y autoritativa. Nuestra norma de fe y conducta. 1 Tesalonicenses 2:13; 2 Timoteo 3:15-17.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_16" aria-expanded="false" aria-controls="collapse2">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre la Trinidad</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse2_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos en un sólo Dios, eternamente existente en tres personas: Padre, Hijo y Espíritu Santo. Mateo 28:19; Juan 10:30; Efesios 4:4-6.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_16" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre Jesús</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos en la deidad del Señor Jesucristo, en su nacimiento virginal, en su vida sin pecado, en sus milagros, en su muerte vicaria y expiatoria mediante el derramamiento de su sangre en la cruz, en su resurrección corporal, en su ascensión a la diestra del Padre, y en su retorno personal en poder y gloria, por su iglesia. Mateo 1:23; Juan 1:1-4 y 1:29; Hechos 1:11 y 2:22-24; Romanos 8:34; 1 Corintios 15:3-4; 2 Corintios 5:21; Filipenses 2:5-11; Hebreos 1:1-4 y 4:15.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_16" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre la Salvación</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos que todos los hombres en todo lugar, están perdidos y enfrentan el juicio de Dios, que Jesucristo es el único camino para la salvación del hombre perdido y pecador, que el arrepentimiento del pecado y la fe en Jesucristo resulta en la regeneración por medio del Espíritu Santo. Lucas 24:46-47; Juan 14:6; Hechos 4:12; Romanos 3:23; 2 Corintios 5:10-11; Efesios 1:7 y 2:8-9; Tito 3:4-7.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_16" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre el Espíritu Santo</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse5_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos en el ministerio actual del Espíritu Santo, que al morar en el cristiano le santifica y capacita para vivir una vida piadosa. Juan 3:5-8; Hechos 1:8, 4:31; Romanos 8:9; 1 Corintios 2:14; Gálatas 5:16-18; Efesios 6:12; Colosenses 2:6-10.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse6_16" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre el Cielo y el Infierno</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse6_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos en la existencia del cielo y el infierno, la resurrección tanto de los salvos como de los perdidos; los salvos para resurrección de vida eterna, y los perdidos para resurrección de condenación y castigo eternos. . 1Corintios 15:51-57; Apocalipsis 20:11-15.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse7_16" aria-expanded="false" aria-controls="collapse7">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre la Iglesia</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse7_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos que la iglesia es una, en la unidad espiritual de los creyentes en el Señor Jesucristo, y que todos los verdaderos creyentes son miembros de su cuerpo: La iglesia. 1 Corintios 12:12, 27; Efesios 1:22-23.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse8_16" aria-expanded="false" aria-controls="collapse8">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Sobre la Familia</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse8_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_16">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Creemos que el plan de Dios para la sexualidad humana se expresa únicamente dentro del contexto del matrimonio, y que Dios creó al hombre y la mujer como personas biológicas únicas hechas para completar el uno al otro. Dios instituyó el matrimonio monógamo entre varón y mujer como el fundamento de la familia y la estructura básica de la sociedad humana. Por ello creemos que el matrimonio es exclusivamente la unión de un varón genético y una mujer genética. Génesis 2:24; Mateo 19:5-6; Marcos 10:6-9; Romanos 1:26-27; 1 Corintios 6:9.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<wc-footer></wc-footer>

<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script src="./assets/js/components.js"></script>
</body>
</html>